main.landing {
    width: 563px;
    height: 4580px;
    background-image: url('../static/images/mobile.png');
    background-size: 100%;
    margin: 0 auto;
    position: relative;
}


@media screen and (min-width: 1080px) {
    main.landing {
        width: 1080px;
        height: 4580px;
        background-image: url('../static/images/desktop.png');
    }

    main.landing a {
        width: 130px;
        height: 50px;
        /* background-color: red;
        opacity: 0.5; */
        position: absolute;
        top: 50px;
        right: 60px;
        cursor: pointer;
    }
}